@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@media (max-width: 1440px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 75%;
  }
  .img-companies .sponsor-div img {
    transform: scale(110%);
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 62.5%;
  }
  .img-companies .sponsor-div img {
    transform: scale(100%);
  }
}

@media (max-width: 896px) {
  html {
    font-size: 50%;
  }
  .img-companies .sponsor-div img {
    transform: scale(80%);
  }

  .pricing-text {
    font-size: 87.5%;
  }

  .section-title h2 {
    font-size: 2.75rem;
  }
  .section-title p {
    font-size: 1.25rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 56.25%;
  }

  .nav-bar {
    font-size: 87.5%;
  }
  .nav-sections {
    gap: 0.25rem;
  }

  /* .hero-with-img {
    flex-direction: column;
  } */

  .hero-img {
    width: 50%;
  }

  .hero-section button {
    width: 100%;
  }

  .hero-title-h {
    width: 150%;
  }
  .second-features-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .second-about1 {
    width: 100%;
    align-items: flex-start;
  }

  .second-section img {
    display: none;
  }
  .second-about {
    align-content: center;
  }

  .marketing-section {
    flex-direction: column;
  }

  .third-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 4rem;
    align-items: center;
  }

  .third-section .section-title {
    grid-row: 1;
    grid-column: 1;
  }
  .third-img {
    grid-row: 3;
    grid-column: 1;
    width: 50%;
    justify-self: center;
  }
  .third-features {
    margin: 0;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    width: max-content;
  }

  .single-feature h3 {
    font-size: 1.75rem;
  }

  .forth-icon {
    flex-wrap: wrap;
  }

  .forth-icon > * {
    flex: 1 1 40%;
  }

  .icon-box h3 {
    font-size: 2.25rem;
  }

  .forth-1st-2nd {
    flex-direction: column;
    align-items: center;
  }
  .forth-img-text {
    align-items: center;
    align-content: center;
  }
  .img-text {
    align-items: flex-start;
    padding: 0;
    width: 100%;
  }

  .store-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .control-btns {
    display: none;
  }

  .pricing-plans {
    flex-wrap: wrap;
  }
  .pricing-plans > * {
    flex: 0 0 45%;
  }
  .pricing-text {
    font-size: 81.25%;
  }
  .testmonial {
    flex-direction: column;
    padding: 4rem;
  }
  .testmonial-text {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .img-companies .first-row {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .img-companies .first-row > * {
    flex: 0 0 20%;
  }
  .img-companies .second-row {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .img-companies .second-row > * {
    flex: 0 0 20%;
  }
  .img-companies .sponsor-div img {
    transform: scale(75%);
  }
  .footer {
    position: relative;
  }
  .go-up {
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: #ff3e6622;
    fill: #fff;
    border-radius: 0.25rem;
    border: 0;
    position: absolute;
    right: -2rem;
    bottom: 0rem;
  }
  .go-up .arrow-up {
    fill: #ffffff77;
    width: 2rem;
    height: 3rem;
  }
  .go-up:hover {
    background-color: #ff3e6699;
  }
}
@media (min-width: 530px) {
  .toggel-menu {
    display: none;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 62.5%;
  }

  /* nav bar responsive */
  .toggel-menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    right: -2rem;
    top: -1rem;
  }
  .toggel-menu div {
    display: flex;
    height: 0.5rem;
    /* color: black; */
    background-color: black;
  }
  .nav-btns {
    display: none;
  }
  .toggel-menu:hover {
    background-color: rgba(255, 62, 101, 0.6);
  }
  .toggel-menu:hover ~ .nav-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 2rem;
    left: 70%;
  }

  /* nav-bar */
  .nav-bar {
    justify-content: space-between;
    gap: 3rem;
  }

  .get-started1 {
    padding: 1rem 0.75rem;
  }

  .hero-with-img {
    flex-direction: column;
    gap: 1rem;
  }
  .hero-title-h {
    width: 100%;
  }
  .hero-section {
    width: 100%;
    padding-bottom: 0;
  }

  .hero-title-h {
    font-size: 3rem;
  }
  .hero-img {
    width: 50%;
  }
  .section-title {
    width: 100%;
  }
  .second-section .section-title {
    /* width: max-content; */
    align-items: center;
  }

  .section-title h2 {
    font-size: 2.25rem;
  }
  .second-control {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .second-features-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
  .second-features {
    align-items: center;
    text-align: center;
  }
  .second-about {
    max-height: 100%;
  }
  .second-about .section-title {
    /* overflow: auto; */
    /* font-size: 70%; */
    max-width: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .single-feature h3 {
    font-size: 1.375rem;
  }
  .mini-marketing {
    align-self: center;
  }

  .third-section .section-title {
    width: auto;
    align-items: center;
  }

  .third-features {
    flex-shrink: 1;
    width: 100%;
  }

  .third-features .details-section {
    flex-shrink: 1;
  }

  .forth-icon {
    gap: 2rem;
  }
  .icon-box {
    padding: 2.5rem;
  }

  .img-companies .sponsor-div {
    width: 6rem;
    height: 6rem;
  }

  .img-companies .sponsor-div img {
    transform: scale(62.5%);
  }
  .trusted-companies .section-title {
    width: 75%;
  }
  .pricing-plans > * {
    flex: 1 1 60%;
  }
  .pricing-text {
    font-size: 93.75%;
  }

  .testmonial {
    padding: 2rem;
  }

  .testmonial-quote {
    font-size: 125%;
  }

  .action-center {
    flex-direction: column;
    align-items: center;
  }
  .about-center {
    align-items: center;
    width: max-content;
  }
  .call-action {
    width: max-content;
    align-items: center;
  }
  .footer {
    flex-direction: column;
  }
  .play-icon-contain {
    width: 2.5rem;
    height: 2.5rem;
  }
  .download-icon-contain {
    width: 0.625rem;
    height: 0.625rem;
  }
}

/* @media (max-width: 430) {
  html {
    font-size: 30%;
  }
} */

@media (max-width: 350px) {
  html {
    font-size: 43.75%;
  }

  .hero-title-h {
    font-size: 2.75rem;
  }
  .hero-section button {
    width: 100%;
  }
  .hero-with-img {
    gap: 1rem;
  }
  .second-features {
    padding: 2rem 1.5rem;
  }
  .second-about {
    padding: 1rem 1.5rem;
  }
  .forth-icon {
    flex-wrap: wrap;
  }

  .forth-icon > * {
    flex: 1 1 60%;
  }

  .testmonial-quote {
    font-size: 70%;
  }
  .img-companies .sponsor-div img {
    transform: scale(50%);
  }
}

@media (max-width: 250px) {
  html {
    font-size: 30%;
  }

  .nav-btns {
    gap: 0.2rem;
  }
  .nav-btn a {
    font-size: 10%;
  }

  .img-companies .sponsor-div img {
    transform: scale(30%);
  }
}

@media (max-width: 140px) {
  html {
    font-size: 10%;
  }
  .img-companies .sponsor-div img {
    transform: scale(20%);
  }
}
